.imageContainer {
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 2rem auto;
    position: relative;
}

.name {
    margin: 0 auto; 
    font-size: 3rem;
    font-weight: 700;
    width: 50%;
    text-align: center;
    margin-bottom: 5rem;
}