@use '../colors'as *;
@use './variables'as *;

@mixin transition {
    transition: $transition;
}

@mixin respond($breakpoint) {
    @if $breakpoint==phone {
        @media (max-width: 37.5em) {
            @content
        }

        ; // 600px
    }

    @if $breakpoint==tab-port {
        @media (max-width: 56.25em) {
            @content
        }

        ; // 900px
    }

    @if $breakpoint==from-tab-land {
        @media (min-width: 56.25em) {
            @content
        }

        ; // 900px
    }

    @if $breakpoint==tab-land {
        @media (max-width: 75em) {
            @content
        }

        ; //1200px
    }

    @if $breakpoint==big-desk {
        @media (min-width: 112.5em) {
            @content
        }

        ; //1800px
    }
}


@mixin scrollBar($width) {
    &::-webkit-scrollbar {
        width: $width;

        @include respond(tab-land) {
            display: none;
        }
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $primary;

        &:hover {
            background-color: $primary-dark;
        }
    }
}