@use '../colors'as *;
@use './variables'as *;
@use '../animations'as *;

@mixin transition {
    transition: $transition;
}

@mixin respond($breakpoint) {
    @if $breakpoint==phone {
        @media (max-width: 37.5em) {
            @content
        }

        ; // 600px
    }

    @if $breakpoint==tab-port {
        @media (max-width: 56.25em) {
            @content
        }

        ; // 900px
    }

    @if $breakpoint==from-tab-land {
        @media (min-width: 56.25em) {
            @content
        }

        ; // 900px
    }

    @if $breakpoint==tab-land {
        @media (max-width: 75em) {
            @content
        }

        ; //1200px
    }

    @if $breakpoint==big-desk {
        @media (min-width: 112.5em) {
            @content
        }

        ; //1800px
    }
}


@mixin scrollBar($width) {
    &::-webkit-scrollbar {
        width: $width;

        @include respond(tab-land) {
            display: none;
        }
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $primary;

        &:hover {
            background-color: $primary-dark;
        }
    }
}


@mixin boxShadow {
    box-shadow: 0 0 2.5rem 1rem rgba($primary-dark, .3);
}

@mixin card {
    background-color: $color-white;
    border-radius: $box-border-radius;
    @include boxShadow;
    padding: 4rem;
    max-width: 90vw;
    display: flex;
    flex-direction: column;
}

@mixin button {
    background-color: $primary;
    border-radius: $input-border-radius;
    color: $color-white;
    font-size: $input-font-size;
    padding: 1.5rem 2rem;
    text-align: center;
    cursor: pointer;
    @include transition;
}

@mixin largeButton {
    @include button;
    width: 100%;
}

@mixin input {
    border-radius: $input-border-radius;
    padding: 1rem 2rem;
    text-align: left;
    // width: 100%;
    border: 1px solid transparent;
    @include transition;
    margin-bottom: .5rem;

    &+span {
        display: block;
        color: red;
        width: 100%;
        font-size: $small-text-font-size;
        animation: slideInLeft .4s ease-in-out;
    }

}

@mixin hover {
    @media (hover: hover) {
        &:hover {
            @content;
        }
    }
}