$transition: all 0.4s ease-in-out;
$font-titles: mick_casterregular;
$font-body: 'Poppins',
sans-serif;


$input-font-size: 1.6rem;
$login-input-font-size: 2rem;
$text-font-size: 1.6rem;
$large-text-font-size: 2rem;
$small-text-font-size: 1.5rem;

$box-border-radius: 8px;
$input-border-radius: 3px;

$h1-font-size: 3rem;
$h2-font-size: 2.5rem;
$h3-font-size: 2.2rem;