@keyframes fadeIn {
    from {
        opacity: 0;
    }
}

@keyframes typing {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background-color: transparent;
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(-110%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(110%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInUp {
    from {
        opacity: 0;
        transform: translateY(110%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes bounce {
    0% {
        transform: rotate(90deg) translateX(-.5rem);
    }

    50% {
        transform: rotate(90deg) translateX(1rem);
    }

    100% {
        transform: rotate(90deg) translateX(-.5rem);
    }

}